html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0; /* remove default margin */
    font-family: Roboto;
    background-color: #ECEEF1;
    color: rgb(57, 58, 61);
    font-size: 16px;
}

h1 {
    font-size: 24px;
    font-weight: 400;
}

label {
    display: block; /* input is on the next line */
    padding-bottom: 6px;
}

.center-text {
    text-align: center;
}

/* navbar */

nav {
    background-color: #2225;
    background-image: url("assets/images/city_skyline.jpg");
    background-image: linear-gradient(0, #000f, #0006), url("assets/images/city_skyline.jpg");
    background-position: 70% 30%;
    color: white;
}

nav h1 {
    font-size: 60px;
    font-weight: 900;
    padding-top: 100px;
    margin: 0 0 20px 0;
}

nav h2 {
    font-size: 30px;
    font-weight: 200;
    color: white;
    margin-bottom: 50px;
}

nav ul {
    background-color: #6b4e71;
}

nav li {
    display: inline-block;
    padding: 14px;
    margin-right: 32px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    color: white;
    font-size: 18px;
}

#nav-selected {
    background-color: #fff3;
}

/* body */

.center-h { /* children of this class are placed in the center horizontaly */
    display: flex;
    justify-content: center;
}

#form-container {
    margin: 60px 0;
    padding: 30px;
    border: 1px solid #999;
    border-radius: 4px;
    background-color: white;
    max-width: 500px;
}

.fullwidth {
    width: 100%;
}

.form-error {
    color: #eb5160;
    font-weight: 600;
    margin: 6px 0 16px 0;
}

.input-text {
    height: 40px;
    font-size: 20px;
}

.submit {
    height: 50px;
    font-size: 24px;
    font-weight: 300;
    color: white;
    background: #44344f;
    border-style: none;
    border-radius: 7px;
}

.not-important-text {
    color: #bbb;
}

/* footer */

footer {
    background: #0001;
}

footer ul {
    margin: 0;
    padding: 60px 0 30px 0;
}

footer li {
    display: inline-block;
    padding: 10px;
    margin: 0px;
}

footer p {
    color: #555;
    font-size: 13px;
    padding: 0 0 20px 0;
    margin: 0;
}
